body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background: url(../public/wallpaper.jpg);
  background-position: top center;
  height: 100%;
  padding: 10px;
  font-family: 'Avengeance';
}

@font-face {
  font-family: 'Avengeance';
  src: local('Avengeance'), url(./fonts/AvengeanceHeroicAvengerBold-MM2J.ttf) format('truetype');
}

p {
  letter-spacing: 2px;
}

footer {
  border-top: 1px solid rgba(66, 64, 64, 0.853);
}
